:host {
  display: block;
  min-height: 100vh;
}

.landed-teeq {
  box-sizing: border-box;
  min-height: 100vh;
}

.hello-world {
  color: red;
}

.content {
  box-sizing: border-box;
  p {
    margin: 0;
  }
}