@import "teeqer-uxui/base-styles/abstracts/spaces.scss";
@import "teeqer-uxui/base-styles/abstracts/typography.scss";

:host {
	display: block;
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
}

$border-radius--upper-left: 10px;
$border-radius--upper-right: 10px;

body {
  background-color: rgb(56, 57, 58);
}

.navigation-tag {
  display: flex;
  justify-content: flex-end;

  .nav {
    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      width: 35%;
      border-top-left-radius: 10px;

      &--inner {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        cursor: pointer;

        material-button {
          width: 100%;
          height: 100%;
          justify-content: center;
          padding: $space--smaller 0px;
        }
      }
    }

    &-button {
        display: flex;

      &--continue {
        --color: #0c6d5c;
        transition: color 200ms;

        &[disabled] {
          --disabled-color: #9e9e9e;
        }
      }
    }
  }

  material-icon {
    height: 24px !important;
  }
}