@import "teeqer-uxui/base-styles/abstracts/spaces.scss";
@import "teeqer-uxui/base-styles/abstracts/typography.scss";

:host {
  display: block;
}

.onboarding {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: $space $space*2;
      color: white;

      h1 {
        @include headline();
        margin-bottom: $space !important;
        margin-top: 0 !important;
        text-transform: none;
      }

      h3 {
        @include headline-2();
        margin-bottom: $space--smaller !important;
        margin-top: 0 !important;
        text-transform: none;
      }

      p {
        @include sub-title-1();
        margin-top: 0 !important;
        color: white;
        text-transform: none;
      }
    }

    .final-footer {
      background-color: white;
      display: flex;
      padding: $space;
      width: 100%;
      box-sizing: border-box;

      &.final-footer__inner {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        border-left: 5px solid #0c6d5c;

        h4.heading {
          @include sub-title-2();
          color: rgb(20, 154, 123);
          margin-top: 0px;
        }

        .kaspersky-logo-container {
          display: flex;
          flex-direction: row;
          align-items: center;

          .logo-company {
            width: 70px;
            flex-shrink: 0;
          }

          .kaspersky-logo-container--inner {
            display: flex;
            flex-direction: column;
            padding-left: 0 !important;
            width: 100%;
            justify-content: flex-start !important;
            align-items: flex-start !important;

            &.heading {
              @include sub-title-2();
              color: black;
              margin: 0px;
              font-weight: 100 !important;
              padding-left: $space !important;
            }

            &.heading--product {
              @include sub-title-2();
              margin: 0px;
              max-width: 70%;
              font-weight: 600 !important;
              padding-left: $space !important;
            }
          }
        }
      }
    }

    sticky-component {
      margin-top: auto;
      cursor: pointer;
    }

    .action-btn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: white;
      cursor: default;
    
      .btn-tupoy {
        display: flex;
        justify-content: center;
        width: 50%;
        background: #0c6d5c;
        border-top-left-radius: 10px;
        padding: $space--smaller $space--smaller $space--smaller 0;
        cursor: pointer;
    
        material-button {
          --color: white;
          --button-margin: 0;
        }

        a {
          box-sizing: border-box;
          width: 100% !important;
          display: flex;
          justify-content: center;
        }
      }
    }
}

a {
  color: inherit;
  text-decoration: none;
}
